@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* font-family: 'Fira Sans Condensed', sans-serif; */

html {
    font-size: 62.5%;
}

.body {
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #675D50;
    min-width: 100%;
}

.navBar ul,
li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.8rem;
}

header nav ul li a {
    text-decoration: none;
    color: #F3DEBA;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.2rem;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    width: 10rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    display: flex;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #F3DEBA;
    font-size: 2rem;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.subt {
    background-color: black;
    color: #F3DEBA;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}



p {
    display: flex;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: justify;
    padding: 1rem;
    /* justify-content: center;
    align-items: center; */
}

.fotos {
    display: flex;
    width: 20rem;
    background-color: #675D50;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.losVinos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.losVinos p {
    background-color: #675D50;
    font-size: 1.5rem;
    margin: 1rem;
    justify-content: center;
}

.vino {
    height: 15rem;
   align-items: center;

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 2rem;
}

.sectionVino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 2rem;

}

form div {
    display: flex;
}

label {
    background-color: #F3DEBA;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    min-width: 100%;
    bottom: 0;
    margin-top: auto;
    background-color: #F3DEBA;
}

footer img {
    height: 2rem;
    margin: 0.5rem;
}

@media (min-width: 375px) {
    header nav ul li a {
        font-size: 1.5rem;
    }

    .logo {
        width: 12rem;
    }

    .subt {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.7rem
    }

    .fotos {
        width: 25rem;
    }

    .vino {
        height: 20rem;
    }

    .losVinos p {
        font-size: 1.7rem;
        margin: 1.2rem;
    }
}

@media (min-width: 768px) {

    .navBar ul,
    li {
        gap: 4rem;
    }

    header nav ul li a {
        font-size: 2rem;
    }

    .logo {
        width: 15rem;
    }

    .sectionVino {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "tannat cabernet"
            "roble espumante"
            "chardonnay rosado"
    }

    .tannat {
        grid-area: tannat;
    }

    .cabernet {
        grid-area: cabernet;
    }

    .roble {
        grid-area: roble;
    }

    .espumante {
        grid-area: espumante;
    }

    .chardonnay {
        grid-area: chardonnay;
    }

    .rosado {
        grid-area: rosado;
    }

    .losVinos p {
        justify-content: center;
    }

    .subt {
        font-size: 2.5rem;
    }

    .section p {
        font-size: 2rem;
    }
}


    @media (min-width: 1024px) {

        .navBar ul,
        li {
            gap: 10rem;
        }

        header nav ul li a {
            font-size: 2.7rem;
        }

        .logo {
            width: 17rem;
        }

        .section p {
            font-size: 2.5rem;
        }

        .subt {
            font-size: 3rem;
        }

        .losVinos {
            margin: 7rem;
        }

        .fotos {
            width: 30rem;
        }

        .vino {
            height: 30rem;
        }
    }