@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;400&display=swap");
/* font-family: 'Fira Sans Condensed', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
}

header nav {
  background-color: #675D50;
  min-width: 100%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
}
header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.2rem;
}
header nav ul li a {
  text-decoration: none;
  color: #F3DEBA;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.2rem;
}
header nav ul li a img {
  width: 10rem;
}

body {
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}
body section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.39);
  margin: 2rem;
}
body h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0rem;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #F3DEBA;
  background-color: black;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 1rem;
}
body p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0rem;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin: 1rem;
}
body .fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
  width: 20rem;
  background-color: #F3DEBA;
  padding: 2rem;
  margin: 3rem;
}
body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.sectionVino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.39);
  margin: 2rem;
}
.sectionVino p {
  background-color: #675D50;
  font-size: 1.5rem;
  margin: 1rem;
  justify-content: center;
}
.sectionVino img {
  height: 15rem;
  width: 13rem;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0rem;
  height: 3rem;
  width: 100%;
  bottom: 0;
  margin-top: auto;
  background-color: #675D50;
}
footer img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
  height: 2rem;
  margin: 0.5rem;
}

@media (min-width: 375px) {
  header nav ul li a {
    font-size: 1.5rem;
  }
  header nav ul li a img {
    width: 12rem;
  }
  body .subt {
    font-size: 2.2rem;
  }
  body p {
    font-size: 1.7rem;
  }
  body .fotos {
    width: 25rem;
  }
  .sectionVino p {
    font-size: 1.7rem;
    margin: 1.2rem;
  }
  .sectionVino .fotos {
    height: 20rem;
  }
}
@media (min-width: 768px) {
  header ul li {
    gap: 4rem;
  }
  header ul li a {
    font-size: 2rem;
  }
  header ul li a img {
    width: 15rem;
  }
  body .sectionVino {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "tannat cabernet" "roble espumante" "chardonnay rosado";
  }
  body .sectionVino .losVinos p {
    justify-content: center;
  }
  body .sectionVino .losVinos .subt {
    font-size: 2rem;
  }
  body .sectionVino .losVinos .tannat {
    grid-area: tannat;
  }
  body .sectionVino .losVinos .cabernet {
    grid-area: cabernet;
  }
  body .sectionVino .losVinos .roble {
    grid-area: roble;
  }
  body .sectionVino .losVinos .espumante {
    grid-area: espumante;
  }
  body .sectionVino .losVinos .chardonnay {
    grid-area: chardonnay;
  }
  body .sectionVino .losVinos .rosado {
    grid-area: rosado;
  }
  body section p {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  body header nav ul li a {
    font-size: 2.7rem;
    padding: 2rem;
  }
  body header nav ul li a img {
    width: 17rem;
  }
}

/*# sourceMappingURL=style.css.map */
