footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  @include flex(row, center, center, 0rem);
  height: 3rem;
  background-color: $color-principal;
  img {
    @include flex(row, center, center, 0.8rem);
    height: 2rem;
    margin: 0.5rem;
  }
}
