footer {
  position: fixed;
  bottom: 0;
  margin-top: auto;
  width: 100vw;
  @include flex(row, center, center, 0rem);
  height: 3rem;
  background-color: $color-dos;
  img {
    @include flex(row, center, center, 0.8rem);
    height: 2rem;
    margin: 0.5rem;
  }
}
