header {
    background-color: $color-principal;
    min-width: 100%;
    ul {
        li {
            @include flex (row, space-around, center, 0.8rem);
            a {
                text-decoration: none;
                color: $color-dos;
                font-family: 'Fira Sans Condensed', sans-serif;
                font-size: 1.2rem;
                .logo {
                    width: 10rem;
                }
            }
        }
    }
}