main {
    @include flex (column, center, center, 0rem);
}

h2 {
    @include flex (row, center, center, 0rem);
    font-family: 'Fira Sans Condensed', sans-serif;
    color: $color-dos;
    font-size: 2rem;
    padding: 5px;
    margin-top: 3rem;
}

p {
    @include flex (row, center, center, 1rem);
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.5rem;
    color: white;
}

