body {
  .sectionVino {
    @include flex(column, center, center, 0rem);
    background-color: $fondo-negro;
    margin: 2rem;
    img {
      @include flex(column, center, center, 0rem);
      height: 15rem;
    }
    p {
      background-color: $color-principal;
      font-size: 1.5rem;
      padding: 0.8rem;
    }
    .losVinos {
      @include flex(column, center, center, 0rem);
    }
  }
}
