body {
  @include flex(column, center, center, 0);
  width: 100%;
  section {
    @include flex(column, center, center, 0);
    background-color: $fondo-negro;
    margin: 2rem;
  }

  h2 {
    @include flex(row, center, center, 0rem);
    font-family: "Fira Sans Condensed", sans-serif;
    color: $color-dos;
    background-color: black;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem;
  }

  p {
    @include flex(row, center, center, 0rem);
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 1rem;
  }

  .fotos {
    @include flex(column, center, center, 0rem);
    width: 20rem;
    background-color: $color-dos;
    padding: 2rem;
    margin: 3rem;
  }

  iframe {
    margin: 1.2rem;
  }
}
