.sectionVino {
    @include flex (column, center, center, 2rem);
    width: 80%;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 2rem;
    p {
        background-color: $color-principal;
        font-size: 1.5rem;
        margin: 1rem;
        justify-content: center;
    }
    img {
        height: 15rem;
        width: 13rem;
        justify-content: center;
    }
}